.headerPerSection{
    font-family:  monospace;
    font-weight: bold;
    color: #2d6cdf;
    margin-top: 30px;


}

p a{
    text-decoration: uppercase;
}

.libraryFunctionHeader{
    color: #071a52;
}